{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
    <ul>
        <li><a href="{{ url_for('index') }}">Inicio</a></li>
        <li><a href="{{ url_for('entrada_costos') }}">Costos</a></li>
        <p></p><p></p><p></p>
        {% if activar == 1 %}
            <li><a href="{{ url_for('ir_probabilidades') }}">Probabilidades</a></li>
            <li><a href="{{ url_for('ir_perfiles') }}">Perfiles</a></li>
            <li><a href="{{ url_for('ir_parametros') }}">Días</a></li>
            <p></p><p></p><p></p>
            <li><a href="{{ url_for('mostrar_simulacion') }}">Resultados</a></li>
            <li><a href="{{ url_for('graficar_total') }}">Gráfica total</a></li>
            <li><a href="{{ url_for('graficar_aparatos') }}">Gráfica por aparato</a></li>
            <li><a href="{{ url_for('graficar_costos') }}">Gráfica costos</a></li>
            <li><a href="{{ url_for('graficar_cajas') }}">Gráfica por período</a></li>
            <li><a href="{{ url_for('graficar_curva') }}">Curva de duración</a></li>
            <li><a href="{{ url_for('generar_estadisticas') }}">Estadísticas</a></li>
        {% endif %}
    </ul>
</div>
<div id="chart" class="container-fluid" style="margin-left:20%;width:auto;margin-right:5%">
</div>
<script>
var data = [];
var con = {{ consumo | safe }};
var ejex = {{ eje | safe }};

for (var i = 0; i < con.length; i++)
{
    var trace = {
      y: con[i],
      name: ejex[i],
      type: 'box'
    };
    data.push(trace);
    var layout = {
      xaxis: {
        title: 'Período'
      },
      yaxis: {
        title: 'Consumo diario'
      }
    };
}
Plotly.newPlot('chart', data, layout);
</script>
{% endblock %}